*~
_obuild
_opam*
/tests/*.cm?
/tests/*/*.cm?
/tests/**/*.love_ast
/tests/**/*.syntax
/tests/**/*.typed
/tests/**/*.ocaml
/tests/**/*.json
/tests/*.tz
/tests/doc/*.tz
/tests/others/*.tz
/tests/*.lov
/tests/doc/*.lov
/tests/others/*.lov
/tests/rev/*.liq
*-orig
/liquidity
/liquidity-mini
/liquidity-client
/docs/sphinx/src/_extensions/__pycache__/
/docs/sphinx/src/man/liquidity*
/DEVEL