@media screen and (min-width: 1400px) {
  .wy-nav-content-wrap {
    background: #fcfcfc;
  }
  .wy-nav-content {
    margin: auto;
    background: #fcfcfc;
    max-width: unset;
  }
}

@media screen and (min-width: 1100px) {
  .wy-nav-content-wrap {
    background: #fcfcfc;
  }
  .wy-nav-content {
    margin: auto;
    background: #fcfcfc;
    max-width: unset;
  }
}

.document {
  max-width: 800px;
  margin: auto;
}

.wy-side-nav-search, .wy-nav-top {
    background-color: #0f093d;
}

a, a:visited {
  color: #553bff
}

a, a:hover {
  color: #3e22f8;
}

rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  color: #e84fff;
}

.wy-nav-side {
  background: #292640;
}

.wy-menu-vertical a {
  color: #D7D6E7;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  color: #404040;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: hsla(247, 84%, 77%, 1)
}

.wy-menu-vertical li.current {
  background: #eae9f2;
}


.wy-menu-vertical li.current a:hover {
  background: #d6d6d6;
}

.wy-menu-vertical li.current a:hover {
  background: hsla(247, 32%, 87%, 1);
}

.wy-menu-vertical a:hover {
  background-color: hsla(292, 29%, 46%, 1);
}

.wy-menu-vertical li.toctree-l2.current>a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  background: hsla(247, 26%, 88%, 1);
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  border-top:none;
  border-bottom:none;
}


.love.topic {
    border-left: 1px #af102f solid;
    margin-bottom: 24px;
    padding: 6px;
}

.love.topic > p {
    margin-bottom: 0;
}

.love.topic > .topic-title {
    color: #af102f;
    background: #f5ced9;
    /* border: 1px #985367 solid; */
    border-bottom: 3px #af102f solid;
    margin: -7px -7px 6px -7px;
    padding: 6px;
}

.love.topic > .topic-title:before {
  content: "❤️ ";
}
.only-love:before {
  content: "🤍 ";
}
.only-love {
    background: #e52c50;
    border-radius: 6px;
    padding: 3px 6px 2px 5px;
    float: right;
    font-size: small;
    font-width: bold;
    color: white;
    margin-left: 10px;
}

code {
    white-space: pre-wrap !important;
    overflow-wrap: anywhere;
}
